header, nav, main {
    max-width: 960px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */
header nav ul {
    justify-content: flex-end;
    li {
        margin-left: 1rem;
    }
}

.hero img {
    width: 100%;
}
